body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grands", sans-serif;
  font-weight: 300;
}

#wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.headerdiv {
  width: 80%;

  position: fixed;
  top: 0;

  background: #FFFFFF;
  opacity: 0.85;

  /*border: 1px dotted black;*/
  box-shadow: 0px 15px 15px -15px #999999;
}

.headerspan {
  display: inline-block;
  margin: 0px 5%;
}

.headerlink {
  text-decoration: none;
}

#titlespan {
  font-size: 50px;
}

#infospan {
  float: right;
  font-size: 25px;
}

#aboutusspan {
  float: right;
  font-size: 25px;
}

.bodydiv {
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
  min-height: 1500px;
}

.sectiondiv {
  min-height: 500px;
  line-height: -10em;
}

.sectionlegend {
  display: block;
  font-size: 35px;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

#appinfo span{
  text-align: left;
}

/*#appinfo{
  text-align: center;
}*/

#leappicture {
  display: block;
  height: 300px;
  width: auto;
  /*width: 100%;*/
  /*width: 400px;*/
  margin: 0px auto; /* pairs: top-bot left-right */
}

.personalinfodiv {
  min-height: 100px;
  padding: 20px 0px;
  /*background: #EEEEEE;*/
  border-bottom: 1px solid #BBBBBB;
  margin: 5px 0px;
}
.personalinfodiv.odd {
  /*background: #F5F5F5;*/
}

.personalinfodiv img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 3px 3px 15px -2px gray;
  float: left;
  margin: 0px 20px;
}
.personalinfodiv.odd img {
  float: right;
}